<!DOCTYPE html>
<html>
  <head>
    <title>Shoe distribution / stores and brands</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <div class="container">
      <%= yield %>
    </div>

    <br>
    <hr>
    <br>

    <div id="navigation">
        <button class="btn"><a href="/">Home</a></button>
    </div>

  </body>
</html>
